<div class="jumbotron mt-4">
     <h1 class="display-4">Loyalty Cards System</h1>  
     <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis veniam voluptatibus, in possimus, 
        necessitatibus unde consequuntur ad voluptas tempore voluptatem, perspiciatis delectus dolores illum deleniti autem.
     odio? Adipisci, corrupti dolor?</p> 
     <hr class="my-4">
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum fugiat maxime exercitationem eum l</p>
     <a href="https://www.gyotechnologies.com" class="btn btn-primary">GYO technologies</a>
</div>

    <h1>footer</h1>